main{
    min-height: 65vh;
    padding:  5vw;
    font-size: 0.8em;
    .fill_data{
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .reg_part{
            padding: 1vw;
            display: flex;
            flex-direction: column;
            position: relative;
           label{
              margin:.6vw;
           }
            input{
                width: 30vw;
                border-radius:1vw;
                padding: .8vw;
            }
        }
    
        .btn{
            box-sizing: border-box;
            margin-top: 2.5vw;
            text-align: center;
        }
        
    }
    
}

@import "./register/register";
@import "./login/Login"